@import "./normalize.css";
@import url("./variables.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

html {
    font-size: 62.5%;
    background-color: var(--cream);
}

header {
    background: linear-gradient(var(--olive-green) 75%, var(--cream));
    height: 13rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 80%;
    margin-left: 2rem;
    border-radius: 10rem;
}

header h1 {
    font-family: "Caveat";
    font-weight: 900;
    font-size: 5rem;
    color: var(--white-opaque);
}

ul {
    font-size: 2rem;
    width: 30rem;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li:hover {
    font-size: 2.5rem;
}

ul a {
    color: var(--white-opaque);
    text-decoration: none;
}

.contenedores {
    margin: 3rem auto;
    width: 60vw;
    display: flex;
    font-size: 1.8rem;
}

#about-us p{
    margin: 2rem 0rem;
}

#eriAnimated {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    margin-right: 2.5rem;
}
.comienzo{
    display: flex;
}

h2 {
    font-size: 2.5rem;
    font-family: "Caveat";
}

.catalogoServicios img {
    width: 100%;
    border-radius: 1rem;
    margin: 2rem 0;
}

#servicios article {
    width: 54%;
    margin: 0 1%
}

fieldset {
    font-size: 2rem;
    width: 30%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    align-items: center;
    justify-content: space-evenly;
}

input {
    width: 40rem;
    color: var(--sienna-brown);
}

#button {
    background-color: var(--olive-green);
    color: var(--white-opaque);
    border-radius: 1rem;
}

select {
    width: 40rem;
    color: var(--sienna-brown);
}

footer {
    display: flex;
    padding: 2rem 3rem;
    justify-content: space-between;
    background: linear-gradient(to left, var(--sienna-brown) 50%, var(--olive-green));

}

iframe {
    width: 25rem;
    height: 20rem;
}

#mapa {
    position: fixed;
    position: fixed;
    bottom: 8rem;
    right: 2rem;
}

footer p {
    font-size: 1.5rem;
}

footer ul {
    width: 15rem;
}

#video {
    position: fixed;
    bottom: 8rem;
}
